<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpRuntime executionTimeout="300"/>
    <trust level="Full"/>
  </system.web>
  <appSettings>
    <add key="accessKeyId" value=""/>
    <add key="secretAccessKey" value=""/>
    <add key="merchantId" value=""/>
    <add key="applicationName" value="PyOP .NET SDK Sample"/>
    <add key="applicationVersion" value="1.0"/>
    <!--The optional values for environment field are sandbox or live-->
    <add key="environment" value="sandbox"/>
    <add key="region" value="us"/>
    <!--Please add the slash at the end of directory path-->
    <add key="logPath" value=""/>
    <add key="clientId" value=""/>
    <add key="certCN" value="sns.amazonaws.com"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
